<!DOCTYPE html>
<html xml:lang="zh-CN" lang="zh-CN">

<head>
    <title>通联数据-请修改平台名称</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="img/$project.ico" rel="SHORTCUT ICON">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script type="text/javascript" charset="utf-8" 
        bizBase="/business/$project" 
        biz="business/js/index" 
        debug="true" 
        jsonp="true" 
        preload="jquery,underscore,uiRouter,cc" 
        ignoreCss="true"
        src="http://f2e01-dev.datayes.com/js/compressed/cc-loader-1.1.0.js"></script>

</head>

<body>

    <header>
        <div class="container">
            <!-- <a class="headerLogo" href="#" ><img src="img/headerLogo.png" /></a> -->
            <nav>
                <!-- <a ui-sref="请修改"><span><i class="i_nav_请修改"></i></span><p>请修改</p></a> -->
            </nav>
        </div>
    </header>

    <div ui-view></div>

    <footer>
        <div class="container">
            &copy;2014 通联数据 - <a href="#">请修改平台名称</a> BETA v版本号 &nbsp;<a href="http://www.miibeian.gov.cn/">沪ICP备13045831号</a>
        </div>
    </footer>

</body>

</html>